{
	"tmUser": "admin",
	"tmPasswd": "12M0nk3y$",
	"tmUrl": "https://tm-ci.cdnlab.comcast.net",
	"redisString": "127.0.0.1:6379",
	"redisInterval": 10,
	"statusToMon": "ONLINE",
	"seelogConfig": "/opt/tmredis/conf/seelog.xml",
	"dsAggregate": {
		"total.tps_total": {
			"redisKey": "tps_total"
		}
	}
}
