export PERLHOME=/Users/tacker001c/perl5/perlbrew/perls/perl-5.22.0/
export TRAFFIC_OPS_DIR=`pwd`
export PERL5LIB=$PERLHOME/lib/site_perl/5.22.0/darwin-thread-mulit-2level:$TRAFFIC_OPS_DIR
export GOPATH=~/go
export PATH=$GOPATH/bin:$PERLHOME/bin:$PATH
